<a href="https://colab.research.google.com/github/lucasmontanheiro/colab/blob/main/Ocorrencias_em_SP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [3]:
data = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/DB/ocorrencias_em_sp_db.csv")

In [4]:
data.describe()

,periodo,item,obs,link,data_capital,data_grandesp,data_interior,data_deinter1,data_deinter2,data_deinter3,data_deinter4,data_deinter5,data_deinter6,data_deinter7,data_deinter8,data_deinter9,data_estado
count,406.000000,0.0,0.0,0.0,406.000000,406.000000,4.060000e+02,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,364.000000,4.060000e+02
mean,20103.857143,NaN,NaN,NaN,23812.963054,13639.729064,5.638026e+04,6598.159341,6266.269231,11260.266484,4427.519231,6303.664835,4977.049451,5416.574176,2161.472527,6725.057692,9.822471e+04
std,5.699841,NaN,NaN,NaN,92929.136174,46672.364819,2.410959e+05,30144.818429,22821.180568,54058.392376,17901.283583,26589.887699,21189.577333,22367.273425,9366.897956,26664.674179,3.811746e+05
min,20094.000000,NaN,NaN,NaN,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,20101.000000,NaN,NaN,NaN,53.000000,20.500000,3.625000e+01,3.000000,4.750000,4.000000,2.000000,1.000000,4.000000,2.000000,0.750000,3.750000,1.002500e+02
50%,20103.000000,NaN,NaN,NaN,1009.500000,675.000000,1.803000e+03,135.500000,171.000000,222.500000,94.500000,115.500000,140.000000,155.000000,37.500000,146.500000,3.836500e+03
75%,20111.000000,NaN,NaN,NaN,8815.000000,5296.250000,1.949400e+04,1722.250000,2434.000000,2192.750000,1207.000000,1531.250000,1345.250000,1834.000000,579.250000,2507.500000,4.518300e+04
max,20112.000000,NaN,NaN,NaN,782224.000000,400256.000000,2.005810e+06,298675.000000,177624.000000,418235.000000,137012.000000,198397.000000,182518.000000,181255.000000,75395.000000,220316.000000,3.173818e+06